.report-container {
    width: 100%;
    /* margin: auto; */
    text-align: center;
    font-family: Arial, sans-serif;
    /* height: 100%; */
  }
  
  .report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .report-table th,
  .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .report-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .content{
    height: 100vh;
  }