.app {
  display: flex;
  /* height: 100vh; */
}

/* Sidebar Styles */
.sidebar-expanded .sidebar {
  transition: width 0.3s ease;
}

.sidebar-collapsed .sidebar {
  width: 80px; /* Collapsed sidebar width */
  transition: width 0.3s ease;

}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #333;
  color: white;
  padding: 0 20px;
  transition: width 0.3s ease, padding-left 0.3s ease;
  flex: 5;
  
}


/* Other Utility Styles */
.menu-icon, .user-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Content styling */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  /* padding: 1rem; */
  background-color: #f7f9fc; /* Light background */
  /* overflow-y: auto; Scroll only vertically */
}

/* Charts row */
.charts-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.charts-row > * {
  flex: 1;
  /* max-width: 45%;  */
  background: #fff; /* Card background */
  padding: 1rem;
  border-radius: 8px; /* Smooth edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center; /* Center align the chart content */
}

/* Charts container (Bar and Line Charts) */
.bar-chart-container, .line-chart-container {
  margin-bottom: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  /* Responsive charts row */
  .charts-row {
    flex-direction: column;
  }
  .charts-row > * {
    max-width: 100%; /* Full width on smaller screens */
  }
}
